.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    border: 1px #eeeeee dotted;
    color: #eeeeee;

}

button:hover {
    border: 1px #eeeeee dotted;
    color: #eeeeee;
    background-color: transparent;

}

.card-container {
    display: flex;
    justify-content: center;
}