<div class="cont">
    <div class="fade-words">
        <div class="starwars">
            <div class="crawl">
                <div class="title">
                    <p> Skibble Week XIV </p>
                    <h1> Star Wars Application</h1>
                </div>


                <p> This application was designed and created by Jessica Turner, for Skibble, using HTML, CSS, Angular
                    and SWAMPI.</p>
                <p>Information on people, starships and planets are available for you viewing. The search bar will
                    help you locate what you are looking for</p>
                <p> Wookies are always welcome</p>


            </div>
        </div>
    </div>
</div>
<footer>
    <a href="https://css-tricks.com/snippets/css/star-wars-crawl-text/">Star Wars Intro CSS largely inspired by Geoff
        Graham</a>
</footer>