p,
h1 {
    color: #F2E96B;
}

p {
    font-size: 90%;
}

.cont {
    width: 100%;
    height: 100vh;
    background: #0D0D0D;
    overflow: hidden;
    margin: 0;
}

.fade-words {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, #0D0D0D 75%);
    z-index: 1;
}

/* .fade-title {
    width: 100%;
    font-size: 200%;
    color: #F2E96B;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-title 6s ease-out forwards;
    animation-delay: 1s;

}

.fade-title h3 {
    font-size: 100%;
    width: 60%;
    margin: 0;
} */

.starwars {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: bold;
    letter-spacing: .1rem;
    line-height: 1.5;
    perspective: 400px;
    text-align: center;
}

.crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear 1s;
}

.crawl .title {
    margin: 0 0 100px;
}

.crawl .title h3 {
    font-size: 100%;
    text-align: center;
    margin-bottom: 30%;
}

.crawl .title p {
    font-size: 80%;
    text-align: center;
}

.crawl .title p,
.crawl .title h1,
.crawl .title h3 {
    color: #F2E96B;
}

.crawl .title h1 {
    margin: 0 0 100px;
    font-size: 250%;
    text-transform: uppercase;

}

.crawl-text {
    margin-bottom: 10%;
    font-size: 120%;
}



footer a {
    text-decoration: none;
    color: #eeeeee;
    font-family: "Roboto", sans-serif;
    text-align: right;
    padding: 5px;
    font-size: .7rem;
}

footer {
    display: flex;
    justify-content: flex-end;
}

@keyframes crawl {
    0% {

        top: 1500px;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px)
    }
}

/* @keyframes fade-title {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0
    }
} */