<div class="cont">
    <div class="fade-words">
        <div class="starwars">
            <div class="crawl">
                <div class="title">
                    <h3> A long time ago <br> in a galaxy far, far away ...</h3>
                    <p> Episode XIV </p>
                    <h1> Star Wars <br> Application</h1>
                </div>


                <p class="crawl-text"> It is a period of confusion and dismay as a group of Skibble cohorts attempt to
                    understand the
                    mysteries of Angular.</p>
                <p class="crawl-text"> Hoping to resolve the chaos and bring clarity to his students, Instructor Ganesh
                    Pilli,
                    pain-painstakingly explains ngModules, imports and emitters. </p>
                <p class="crawl-text"> Now the brave students must set out alone to conquer the SWAMPI and restore order
                    to the
                    application....</p>



            </div>
        </div>
    </div>
</div>
<footer>
    <a href="https://css-tricks.com/snippets/css/star-wars-crawl-text/">Star Wars Intro CSS largely inspired by Geoff
        Graham</a>
</footer>