<div class="card" style="width: 18rem;">

    <div class="card-body">

        <h5 class="card-title">{{data.aoworcrcraahwh | titlecase}}</h5>

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Akooakhuanraaoahoowh: {{data.akooakhuanraaoahoowh}}</li>
        <li class="list-group-item">Oaanahscraaowo: {{data.oaanahscraaowo | titlecase}}</li>
        <li class="list-group-item">Oorcrhahaoraan Akworcahoowa: {{data.oorcrhahaoraan_akworcahoowa}}

        </li>
        <li class="list-group-item">Whrascwo: {{data.whrascwo}}
        </li>
        <li class="list-group-item">Rrrcrahoahaoro: {{data.rrrcrahoahaoro | titlecase}}</li>
        <li class="list-group-item">Whrascwo: {{data.whrascwo}}</li>
        <li class="list-group-item">Waahrascwoaoworc: {{data.waahrascwoaoworc}}</li>
    </ul>
    <!-- <div class="card-body">
        <a href="#" class="card-link">More Data</a>

    </div> -->
</div>