<div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <h5 class="card-title">{{personInfo.name | titlecase}}</h5>

    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Birth Year: {{personInfo.birth_year}}</li>
            <li class="list-group-item">Gender: {{personInfo.gender | titlecase}}</li>
            <li class="list-group-item">Physical Description:
                <ul>
                    <li> Height : {{personInfo.height | titlecase}} inches</li>
                    <li> Skin : {{personInfo.skin_color | titlecase}} </li>
                    <li> Hair : {{personInfo.hair_color | titlecase}} </li>
                </ul>
            </li>
            <li class="list-group-item">Home World: {{personInfo.homeworld | titlecase}}
            </li>
            <li class="list-group-item">Starships: {{personInfo.starships}}</li>
            <li class="list-group-item">Vehicles: {{personInfo.vehicles }}</li>
            <li class="list-group-item">Films: {{personInfo.films }}</li>
        </ul>
    </div>
    <!-- <div class="card-body">
        <a href="#" class="card-link">More Data</a>

    </div> -->
</div>