.mb-4 {
    margin-bottom: 0 !important;
}

span {
    color: #F2E96B;
}

.nav-link {
    font-size: 1rem;
    color: #F2E96B;
    padding: 8px;
}

header {
    justify-content: space-around !important;
    padding: 20px 40px;
    width: 100%;
}