<div class="cont">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom sticky-top">
        <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

            <span class="fs-4">Star Wars App</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['home']">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['people']">People</a></li>
            <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['planets']">Planets</a></li>
            <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['starships']">Starships</a></li>
            <li class="nav-item"><a href="#" class="nav-link" [routerLink]="['wookie']">Wookie</a></li>

        </ul>
    </header>
</div>