<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">{{planetInfo.name | titlecase}}</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p> -->
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Climate: {{planetInfo.climate | titlecase}}</li>
        <li class="list-group-item">Population: {{planetInfo.population}}</li>
        <li class="list-group-item">Terrain: {{planetInfo.terrain | titlecase}}</li>
        <li class="list-group-item"> Year: {{planetInfo.orbital_period}} days</li>
        <li class="list-group-item"> Day: {{planetInfo.rotation_period}}</li>
        <li class="list-group-item">Diameter: {{planetInfo.diameter}}</li>
        <li class="list-group-item">Famous Residents: {{planetInfo.residents}}</li>
    </ul>
    <!-- <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div> -->
</div>